/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


/* INDEX-HEADER*/
.container  {
  max-width: 1600px;
  margin: 0 auto;
}
.header {
  z-index: 2;
}
.header__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo-link {
  z-index: 10;
}
.header__logo-img {
  max-width: 300px;
}
.header-nav {
  min-width: 700px;
  margin: auto 0px;
  z-index: 10;
}
.header__nav-link {
  font-size: 22px;
}
.header__nav-link:hover {
  color: #006EB7;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.header__nav-link:active {
  opacity: 0.7;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.header__nav-list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__checked {
  color: #006EB7;
  font-weight: 800;
}
.header__burger {
  display: none;
  position: relative;
  width: 40px;
  height: 28px;
  z-index: 100;
}
.burger__line {
  position: absolute;
  left: 0;
  display: block;
  width: 40px;
  height: 2px;
  background-color: #000;
}
.burger__line-first {
 top: 0;
}
.burger__line-second {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.burger__line-third {
  bottom: 0;
}
.header__nav-close {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.header__nav-close-line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
}
.header__nav-close-line:first-child {
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.header__nav-close-line:last-child {
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}
/* INDEX-HERO*/
.hero {
  position: relative;
  max-width: 1920px;
  min-height: 720px;
  z-index: -1;
}
.hero .hero__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  max-width: 1920px;
  min-height: 720px;
}
.hero__slider-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: background-image 0.5s ease-in-out;
  -o-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out;
  -webkit-animation: grow 10s ease-in-out infinite alternate;
          animation: grow 10s ease-in-out infinite alternate;
}
.hero__slider-item:nth-child(1) {
  background-image: url(../img/hero_main_1.png);
  max-width: 1920px;
  height: 720px;
}
.hero__slider-item:nth-child(2) {
  background-image: url(../img/hero_main_2.png);
  max-width: 1920px;
  height: 720px;
}
.hero__slider-item:nth-child(3) {
  background-image: url(../img/hero_main_3.png);
  max-width: 1920px;
  height: 720px;
}
.hero__slider-text-1 {
  max-width: 1660px;
  margin: 147px auto 0px auto;
  position: inherit;
}
.hero__slider-text-2 {
  max-width: 1660px;
  margin: 147px auto 0px auto;
  position: inherit;
}
.hero__slider-text-3 {
  max-width: 1660px;
  margin: 147px auto 0px auto;
  position: inherit;
}
.hero__title {
  width: 90%;
  font-size: 80px;
  font-weight: 800;
}
.hero__descr {
  font-size: 25px;
  font-weight: 700;
  line-height: 150%;
  max-width: 1045px;
  margin-top: 15px;
  margin-bottom: 50px;
}
.hero__btn {
  background-color: #006EB7;
  font-size: 35px;
  color: aliceblue;
  padding: 51px 86px;
  z-index: 3;
  margin-left: 35%;
  top: -9px;
  -webkit-box-shadow: 2px 7px 11px black;
          box-shadow: 2px 7px 11px black;
  border-top-right-radius: 64px;
  border-bottom-left-radius: 64px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.hero__btn:hover {
  background-color: #666666;
  font-size: 35px;
  color: aliceblue;
}
/* INDEX-HOW*/
.how__title {
  margin-top: 100px;
  font-size: 50px;
  font-weight: 700;
}
.step {
  margin-top: 60px;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}
.step__text {
  font-size: 25px;
}
.step__text:focus {
  outline: 2px solid #006EB7;
  padding: 5px 5px;
}
.step__text:hover {
  color: #006EB7;
  opacity: 0.7;
}
.step__text:active {
  color: #006EB7;
}
.step__items {
  margin-right: 85px;
}
.step__items:last-child {
  margin-right: 0;
}
.how__card {
  display: none;
}
.how__card-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.how__block-left-title {
  font-size: 40px;
  line-height: 100%;
  font-weight: 700;
  color: #333333;
  margin-top: 50px;
  margin-bottom: 20px;
}
.how__block-left-text {
  max-width: 758px;
  font-size: 25px;
  line-height: 200%;
  color: #333333;
}
.how__block-left-button {
  margin-top: 50px;
}
.how__block-left-btn-1 {
  font-size: 25px;
  line-height: 150%;
  font-weight: 700;
  text-align: center;
  color: #333333;
  padding: 19px 38px;
  border: 1px solid #333333;
  -webkit-transition: background 0.2s ease, color 0.2s ease;
  -o-transition: background 0.2s ease, color 0.2s ease;
  transition: background 0.2s ease, color 0.2s ease;
}
.how__block-left-btn-1:focus {
  background: #666666;
  border: 1px solid #666666;
  color: #FFFFFF;
}
.how__block-left-btn-1:hover {
  background: #666666;
  border: 1px solid #666666;
  color: #FFFFFF;
}
.how__block-left-btn-1:active {
  background: #000000;
  border: 1px solid #000000;
  color: #FFFFFF;
}
.how__block-right{
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 55px;
  margin-left: 142px;
  width: 870px;
  height: 460px;
}
.bg__1 {
  background-image: url(../img/tab_photo1.png);
  max-width: 700px;
}
.bg__2 {
  background-image: url(../img/tab_photo2.png);
  max-width: 700px;
}
.bg__3 {
  background-image: url(../img/tab_photo3.png);
  max-width: 700px;
}
.bg__4 {
  background-image: url(../img/tab_photo4.png);
  max-width: 700px;
}
.bg__5 {
  background-image: url(../img/tab_photo5.png);
  max-width: 700px;
}
.bg__6 {
  background-image: url(../img/tab_photo6.png);
  max-width: 700px;
}
.bg__7 {
  background-image: url(../img/tab_photo7.png);
  max-width: 700px;
}

/* INDEX-PRICE*/
.price {
  margin-top: 80px;
}
.price__slider-item:nth-child(1) {
  width: 1600px;
  height: 800px;
  background-image: url(../img/card_bg_1_1024.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.price__slider-item:nth-child(2) {
  width: 1600px;
  height: 800px;
  background-image: url(../img/card_bg_2_1024.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.price__slider-item:nth-child(3) {
  width: 1600px;
  height: 800px;
  background-image: url(../img/card_bg_3_1024.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.price__slider-item:nth-child(4) {
  width: 1600px;
  height: 800px;
  background-image: url(../img/card_bg_4_1024.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.price__slider.swiper {
  padding: 0 0 10px 0;
}
.swiper-horizontal>.swiper-scrollbar {
  position: relative;
  top: 10px;
}
.price__card-title {
  font-size: 117px;
  font-weight: 800;
  margin: 80px 0px 0 0;
}
.price__cerd-text {
  font-size: 50px;
  margin-top: 20px;
  line-height: 150%;
  width: 1000px;
}
.price__card-button {
  background-color: none;
  color: black;
  border: 2px solid black;
  font-size: 50px;
  padding: 15px 30px;
  margin-right: 30px;
  margin-top: 50px;
  opacity: 0.7;
}
.price__card-button:hover {
  background-color: #000;
  color: white;
  opacity: 1;
  transition: all 0.2s ease;
}
.card__lite {
  max-width: 950px;
  margin: 0 0 0 auto;
}
.card__optimal {
  max-width: 1015px;
  margin: 0 0 0 auto;
}
.card__full {
  max-width: 1050px;
  margin: 0 0 0 auto;
}
.card__personal {
  max-width: 1020px;
  margin: 0 0 0 auto;
}

/* INDEX-CONTACTS*/
.contacts {
  margin: 80px 0;
}
.contacts__title {
  font-size: 50px;
  font-weight: 700;
}
.contacts__items {
  background-color: #FFFFFF;
  border-radius: 15px;
  margin-top: 50px;
  /*box-shadow: #666666;*/
}
.contacts__left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 700px;
}
.contact__item {
  margin-top: 25px;
  margin-left: 46px;
  border-bottom: 1px solid #C4C4C4;
}
.contact__item-title {
  width: 191px;
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  color: #000000;
}
.contact__item-text {
  margin: 0;
  padding-bottom: 23px;
  max-width: 450px;
  font-size: 25px;
  line-height: 150%;
  font-weight: 400;
  color: #000000;
}
.tel {
  padding-bottom: 23px;
  font-size: 25px;
  line-height: 150%;
  font-weight: 400;
  color: #006EB7;
}
.emails {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 22px;
}
.mail__adress {
  font-size: 25px;
  line-height: 150%;
  font-weight: 400;
  color: #006EB7;
}
.mail__adress:focus {
  border: 1px solid #006EB7;
  color: #006EB7;
  opacity: 0.7;
}
.mail__adress:hover {
  color: #006EB7;
  opacity: 0.7;
}
.mail__adress:active {
  color: #01375b;
}
.mail__adress-text {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: #999999;
}
.contacts__right{
  max-width: 653px;
  margin: 10px 0 0 50px;
}
.clock {
  padding: 10px 12px;
  margin: 5px 0 27px 187px;
  color: #000000;
  font-size: 32px;
  border: 1px solid #000000;
}
/* INDEX-MAP*/
.map {
  position: relative;
  width: 100%;
  height: 800px;
}
[class*="ground-pane"] {
	-webkit-filter: grayscale(1);
	        filter: grayscale(1);
}
[class*="copyrights-pane"] {
	display: none !important;
}
.ymaps-2-1-79-zoom__scale {
  display: none;
}
.ymaps-2-1-79-zoom {
  position: fixed;
  display: block;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 152px;
}
.ymaps-2-1-79-controls__control_toolbar.ymaps-2-1-79-user-selection-none {
  margin-top: 342px;
  right: 10px;
  position: absolute;
}
.ymaps-2-1-79-float-button.ymaps-2-1-79-_hidden-text {
  width: 40px !important;
  height: 40px !important;
  border-radius: 10px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.ymaps-2-1-79-zoom__plus {
  width: 40px !important;
  height: 40px !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.ymaps-2-1-79-zoom__minus {
  width: 40px !important;
  height: 40px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.ymaps-2-1-79-float-button-icon.ymaps-2-1-79-float-button-icon_icon_geolocation{
  border-left-width: 11px;
  border-top-width: 11px;
} 
.ymaps-2-1-79-zoom__icon.ymaps-2-1-79-float-button-icon {
  border-left-width: 11px;
  border-top-width: 11px;
}
.ymaps-2-1-79-zoom {
  height: 24px !important;
}
/*INDEX-FOOTER*/
.footer {
  background-color: #6666666f;
}
.footer__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__logo-img {
  max-width: 200px;
}
.footer__policy {
  max-width: 40%;
  margin: auto;
}
.footer__social-list {
  width: 20%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto 0px;
}
.footer__policy-text {
  font-size: 20px;
  margin-top: 15px;
  line-height: 125%;
}
.footer__policy-link {
  font-weight: 700;
  text-decoration: underline;
}
.social__img {
  width: 60px;
  height: 60px;
}
.scrollup{
  width:80px;
  height:80px;
  opacity:0.3;
  position:fixed;
  bottom:25px;
  right:18px;
  display:none;
  text-indent:-9999px;
  background: url('../img/svg/icon_top.png') no-repeat;
  z-index: 150;
  background-size: contain;
}
/*BLOG*/
.blog__hero {
  background-image: url(../img/blog__bg.png);
  width: 100%;
  height: 310px;
  background-repeat: no-repeat;
  background-size: contain;
}
.blog__hero-title {
  padding: 30px 0 0 0;
  margin: 0 auto;
  font-size: 33px;
  font-style: italic;
  font-weight: 800;
  max-width: 1600px;
  line-height: 200%;
}
.gallery {
  margin-bottom: 86px;
}
.gallery__title {
  margin-bottom: 54px;
}
.gallery__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 57px 1fr 57px 1fr 57px 1fr 57px 1fr 57px 1fr;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 57px;
  position: relative;
}
.gallery__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  position: relative;
  border-radius: 35px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 10px 30px grey;
          box-shadow: 0px 10px 30px grey;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.gallery__card:hover {
  margin-top: 0;
  -webkit-box-shadow: 0px 10px 70px grey;
          box-shadow: 0px 10px 70px grey;
}
.gallery__card:hover .gallery__card-img:before {
  opacity:0;
}
.gallery__card:hover .gallery__card-more {
  display: block;
  width: 157px;
  padding: 19px 19px;
  font-size: 20px;
  font-weight: 400;
  color: white;
  background-color: #999999;
  border: 0;
  text-decoration: none;
  margin: auto 0 0 0;
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 35px;
}
.gallery__card-img {
  position: relative;
  margin-bottom: 45px;
  width: 100%;
  height: 250px;
  border-radius: 35px;  
}
.gallery__card-img:before {
  display:block;
  content: '';
  position:absolute;
  background-color:#134221;
  width:100%;
  height:250px;
  opacity:0.3;
  z-index:0;
  border-radius: 35px;
}
.gallery__card-title {
  font-size: 24px;
  font-weight: 800;
  line-height: 130%;
  color: #000000;
  margin: 0 30px 0 30px;
}
.gallery__card-descr {
  font-size: 20px;
  font-weight: 400;
  line-height: 200%;
  margin: 30px 30px 80px 30px;
}
.gallery__card-more {
  display: none;
}
.gallery__card-more:hover,
.gallery__card-more:focus-visible {
  background-color: #1757AD;
}
.gallery__card-more:active {
  background-color: #0d3467
}
.card__1-img {
  background-image: url(../img/blog_img_1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.card__2-img {
  background-image: url(../img/blog_img_2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.card__3-img {
  background-image: url(../img/blog_img_3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.card__4-img {
  background-image: url(../img/blog_img_4.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.card__5-img {
  background-image: url(../img/blog_img_5.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.card__6-img {
  background-image: url(../img/blog_img_6.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
/*BLOG-MODALS*/
/*.modals {
  display: none;
}*/
.modal__overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 150;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.modal {
  background-color: #FFFFFF;
  width: 90vw;
  height: 800px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.modals--visible {
  display: block;
}
.modal--visible {
  display: block;
  opacity: 1;
  visibility: visible;
  background-color: #FFFFFF;
  width: 90vw;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.modal__overlay--visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.modal__blog-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.modal__blog-left {
  width: 33%;
  height: 100%;
  margin-left: 50px;
}
.modal__bg-1 {
  background-image: url(../img/modal_bg_1_1920.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 750px;
}
.modal__bg-2 {
  background-image: url(../img/modal_bg_2_1920.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 750px;
}
.modal__bg-3 {
  background-image: url(../img/modal_bg_3_1920.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 750px;
}
.modal__bg-4 {
  background-image: url(../img/modal_bg_4_1920.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 750px;
}
.modal__bg-5 {
  background-image: url(../img/modal_bg_5_1920.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 750px;
}
.modal__bg-6 {
  background-image: url(../img/modal_bg_6_1920.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 750px;
}
.modal__blog-right {
  width: 65%;
  padding: 50px 50px;
  overflow: scroll;
}
.modal__right-title {
  font-size: 35px;
  line-height: 150%;
  margin-bottom: 30px;
}
.modal__right-descr {
  font-size: 35px;
  line-height: 150%;
  margin-bottom: 30px;
}
.prokrutka {
  height: 720px; 
  width: 65%; 
  background: #fff;
  padding: 0 50px;
  overflow-y: scroll;
}
.scrollup__blog {
  width:80px;
  height:80px;
  opacity:0.3;
  position:fixed;
  bottom:25px;
  right:18px;
  display: none;
  text-indent:-9999px;
  background: url('../img/svg/icon_top.png') no-repeat;
  z-index: 150;
  background-size: contain;
}
/*SERVICES*/
.services-header__nav-link {
  font-size: 22px;
  color: white;
}
.services-header__nav-link:hover {
  color: whitesmoke;
  opacity: 0.5;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.services-header__nav-link:active {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.services-header__nav-list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services-header__checked {
  color:whitesmoke;
  font-weight: 800;
}
.sevices__hero {
  position: absolute;
  width: 100%;
  height: 100vh;
  margin-top: -102px;
  z-index: 1;
}
.video {
  z-index: -1;
  position: absolute;
}
.services__slider-items.swiper-wrapper {
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.services__hero-card {
  max-width: 1600px;
  position: inherit;
  top: 180px;
  margin: 0 auto;
}
.sevices__hero-title {
  font-size: 100px;
  color: white;
  font-weight: 700;
  z-index: 100;
}
.services__hero-descr {
  font-size: 40px;
  color: white;
  line-height: 135%;
  margin-top: 20px;
}
.services__slide-1 {
  background: black;
  background-size: contain;
  max-width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.services__slide-1:before {
  display: block;
  content: '';
  position:absolute;
  background-color:#0b0420;
  width: 100%;
  height: 100vh;
  opacity:0.3;
  z-index:0;
}
.services__slide-2 {
  background-image: url(../img/services__bg2.png);
  width: 100%;
  height: 110vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.services__slide-2:before {
  display: block;
  content: '';
  position:absolute;
  background-color:#0b0420;
  width: 100%;
  height: 100vh;
  opacity:0.3;
  z-index:0;
}
.services__slide-3 {
  background-image: url(../img/services__bg3.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.services__slide-3:before {
  display: block;
  content: '';
  position:absolute;
  background-color:#0b0420;
  width: 100%;
  height: 100vh;
  opacity:0.3;
  z-index:0;
}
.services__slide-4 {
  background-image: url(../img/services__bg4.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.services__slide-4:before {
  display:block;
  content: '';
  position:absolute;
  background-color:#0b0420;
  width: 100%;
  height: 100vh;
  opacity:0.5;
  z-index:0;
}
.services__slide-5 {
  background-image: url(../img/services__bg5.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.services__slide-5:before {
  display:block;
  content: '';
  position:absolute;
  background-color:#0b0420;
  width: 100%;
  height: 100vh;
  opacity:0.3;
  z-index:0;
}
.services__slide-6 {
  background-image: url(../img/services__bg6.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.services__slide-6:before {
  display: block;
  content: '';
  position:absolute;
  background-color:#0b0420;
  width: 100%;
  height: 100vh;
  opacity:0.4;
  z-index:0;
}
.services__slide-7 {
  background-image: url(../img/services__bg7.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.services__slide-7:before {
  display: block;
  content: '';
  position:absolute;
  background-color:#0b0420;
  width: 100%;
  height: 100vh;
  opacity:0.3;
  z-index:0;
}
.services__slide-8 {
  background-image: url(../img/services__bg8.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.services__slide-8:before {
  display: block;
  content: '';
  position:absolute;
  background-color:#0b0420;
  width: 100%;
  height: 100vh;
  opacity:0.5;
  z-index:0;
}
.services__slide-9 {
  background-image: url(../img/services__bg9.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.services__slide-9:before {
  display: block;
  content: '';
  position:absolute;
  background-color:#0b0420;
  width: 100%;
  height: 100vh;
  opacity:0.6;
  z-index:0;
}
.swiper-button-disabled {
  display: none;
}
.swiper-navigation {
  position: fixed;
  width: 90%;
  bottom: 90px;
  right: 90px;
  z-index: 100;
}
/*PARTNERS*/
.partners__cards {
  margin-top: 50px;
}
.partners__cards-container {
  max-width: 1600px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -ms-grid-columns: 33% 20px 33% 20px 33%;
  grid-template-columns: 33% 33% 33%;
}
.box {
  height: 50vh;
  margin-bottom: 60px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.front, .back{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-transition: 1.5s all ease;
  -o-transition: 1.5s all ease;
  transition: 1.5s all ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; /*скрываем тыльную часть карточки, это нужно что бы не видеть тыльную часть после поворота на 180 градусов*/
  border-radius: 20px;
}
.front{
  background-color: none;
}
.back{
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  padding: 0 50px;
  line-height: 130%;
  font-size: 21px;
  background-color: #66666637;
}
.box:hover .front{
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.box:hover .back{
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}
.partners__card-img {
  max-width: 100%;
}
.scrollup__partners {
  width:80px;
  height:80px;
  opacity:0.3;
  position:fixed;
  bottom:25px;
  right:18px;
  display:none;
  text-indent:-9999px;
  background: url('../img/svg/icon_top.png') no-repeat;
  z-index: 150;
  background-size: contain;
}
/*INFO-HERO*/
.info__hero {
  width: 100%;
  height: 800px;
  background-image: url(../img/faq__bg.png);
}
.info__hero-title {
  font-size: 54px;
  line-height: 150%;
  font-weight: 800;
  max-width: 1139px;
  padding-top: 110px;
  color: white;
}
.info__hero-descr {
  font-size: 30px;
  line-height: 150%;
  max-width: 1000px;
  margin-top: 10px;
  color: white;
}
/*INFO-FAQ*/
.faq {
  margin: 80px 0;
}
.container .faq__box {
  position: relative;
  margin-bottom: 0px;
}
.container .faq__box:last-child {
  margin-bottom: 0; 
}
.container .faq__box .label {
  position: relative;
  padding: 38px 100px 38px 0;
  color: #000000;
  cursor: pointer;
  font-weight: 700;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  font-size: 33px;
  line-height: 125%;
}
.container .faq__box .label::after {
  content: "+";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  font-size: 25px;
  font-weight: bold;
}
.container .faq__box.active .label::after {
  content: "\2014";
}
.container .faq__box .content {
  position: relative;
  background-color: #fff; 
  overflow: hidden;
  max-height: 0; 
  -webkit-transition: 0.3s; 
  -o-transition: 0.3s; 
  transition: 0.3s; 
}
.content__text {
  padding: 20px;
  font-size: 25px;
  line-height: 150%;
}
.scrollup__info{
  width:80px;
  height:80px;
  opacity:0.3;
  position:fixed;
  bottom:25px;
  right:18px;
  display:none;
  text-indent:-9999px;
  background: url('../img/svg/icon_top.png') no-repeat;
  z-index: 150;
  background-size: contain;
}